<nav>
  <div class="navbar">
    <li><a href="{{ path('app_index') }}">WildSeries</a></li>
    <li><a href="{{ path('app_index') }}">Home</a></li>
    <li><a class="nav-li" href="{{ path('category_index') }}">Categories</a></li>
    <li><a class="nav-li" href="{{ path('program_index') }}">Series</a></li>
    <li>Inscription</li>
    <li>Connexion</li>
  </div>
</nav>
